.Container {
  @apply flex items-center flex-wrap py-8 mt-16 border-t border-t-gray-30 mr-[4.8rem];
}

:global(.dark) .Container {
  @apply border-b-gray-90 border-t-gray-90;
}

.Icon {
  @apply text-6xl mb-7 mr-2;
  @apply text-gray-90 !important;
}

:global(.dark) .Icon {
  @apply text-white !important;
}

.Title {
  @apply my-0 font-bold text-2xl;
  @apply text-gray-90 !important;
}

:global(.dark) .Title,
:global(.dark) .Text,
:global(.dark) .Link {
  @apply text-white !important;
}

.Text {
  @apply text-base tracking-tight;
  @apply text-gray-90 !important;
}

.Link {
  @apply border-b border-b-gray-90 hover:opacity-70 hover:text-color_violet hover:border-color_violet;
}

:global(.dark) .Link {
  @apply border-b-white;
}
