.Container {
  @apply text-sm tracking-tight dark:text-white mb-2;
  @apply leading-none;
}

.List {
  @apply list-none mt-2 mr-0 ml-1 pl-2;
}

.Accordion {
  @apply flex items-center justify-center hover:opacity-50 h-4 w-4;
}

.AccordionIcon {
  @apply relative z-10 cursor-pointer text-sm;
  @apply text-gray-80 !important;
}

.AccordionIcon close {
  transform: rotate(0deg);
}

.ExternalIcon {
  @apply relative z-10 cursor-pointer text-sm ml-1;
  @apply text-gray-80 !important;
}

:global(.dark) .AccordionIcon,
:global(.dark) .ExternalIcon,
:global(.dark) .ActivePage {
  @apply text-white !important;
}

.LinkContainer {
  @apply flex items-center cursor-pointer hover:bg-lt_gray justify-between -ml-[100%] pl-[100%] -mr-[100%] pr-[100%] group-hover:bg-lt_gray;
}

.Link {
  @apply relative flex items-center;
  @apply text-gray-80 !important;
}

.Circle {
  @apply absolute w-2 h-2 -left-4 rounded-full hidden;
}

:global(.dark) .PageName:not(.ActivePage) {
  @apply text-[#fff] !important;
}

:global(.dark) .LinkContainer ul {
  @apply text-[#fff] !important;
}

.ActivePage {
  @apply font-bold;
  @apply text-gray-90 !important;
}

span.ActivePage {
  @apply bg-lt_gray;
}

:global(.dark) .LinkContainer {
  @apply fill-white;
}
