.Container {
  @apply fixed right-0 lg:sticky top-auto pl-7 lg:top-16 lg:left-0 xl:left-auto px-0 h-[calc(100vh-4rem)] z-20  overflow-y-auto overflow-x-hidden shadow-lg lg:shadow-none transition-all;
  @apply bg-light_purple shadow-[1px_4px_6px_0px_rgba(0,0,0,0.08)] border-r-[1px] border-r-[rgba(113,71,232,0.05)] !important;
  width: 280px;
}

.Container::-webkit-scrollbar {
  display: none;
}

:global(.dark) .Container {
  @apply bg-gray-100 !important;
}

.ClosedNav {
  @apply hidden lg:block;
}

.NavList {
  @apply list-none overscroll-contain px-2 lg:px-0;
}

.TopGradient {
  @apply hidden lg:block fixed top-0 w-full bg-gradient-to-b from-white z-10;
  max-width: 280px;
}

.WindowStickyGradient {
  @apply top-12 h-6;
}

.ScrollBarStickyGradient {
  @apply top-24 h-6 hidden;
}

:global(.dark) .TopGradient {
  @apply from-gray-100;
}

.iconContainer {
  @apply flex flex-auto justify-between items-center mr-7 mt-2 block pb-3 border-b border-[#9a84d6];
}

@media screen and (min-width: 1024px) {
  .iconContainer {
    @apply hidden;
  }
}
